html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(20, 20, 25);
    margin: 0;
}

section {
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

#start-menu {
    display: block;
    margin-left: 15vw;
    margin-right: 15vw;
}


#hero {
    margin: 0;
    margin-bottom: 1.5rem;
}

#fullname {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 4rem;
    line-height: 95%;

    margin: 0;
    margin-bottom: 0.75rem;
}

#subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 1.6rem;

    margin: 0;
}

#menu-items {
    display: block;
    margin-left: 0;
}

.menu-item:hover {
    transition: opacity 250ms ease;
    opacity: 20%;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 2.5rem;
    text-decoration: none;

    /* display: block; */
    /* width: fit-content; */
    margin-right: 1.75rem;
    /* padding-right: 2.5rem; */

    transition: opacity 250ms ease;
}