html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(20, 20, 25);
    margin: 0;
}

section {
    padding: 0;
    height: 100vh;
    /* width: 100vw; */
    /* border: dashed rgba(255, 255, 255, 100%); */
    /* border-width: 1px; */
    display: flex;
    align-items: center;
}

#menu {
    display: block;
    margin-left: 15vw;
}


#hero {
    margin: 0;
    margin-bottom: 1.5rem;
}

#fname {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 4rem;

    margin: 0;
    margin-bottom: 0.25rem;
}

#subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 1.6rem;

    margin: 0;
}

#menu-items {
    display: block;
    margin-left: 0;
}

/* #menu-items:hover > .menu-item {
    transition: 500ms ease;
    opacity: 20%;
}

#menu-items:hover > .menu-item:hover {
    transition: 500ms ease;
    opacity: 100%;
} */

.menu-item:hover {
    transition: opacity 250ms ease;
    opacity: 20%;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 2.5rem;
    text-decoration: none;

    /* display: block; */
    /* width: fit-content; */
    margin-right: 2.5rem;
    /* padding-right: 2.5rem; */

    transition: opacity 250ms ease;
}